body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

h1 {
    border-bottom: 2px solid grey;
    padding: 10px;
}

main {
    border-radius: 10px;
    height: auto;
    border: 5px black;
    margin-top: 80px;
    margin-left: 60px;
    background-color: white;
    width: fit-content;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

form {
    padding-right: 25%;
    padding:20px 40px 20px 20px;
    width: auto;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: rgb(154, 74, 165);
    background-color: lightgray;
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;    
}

