body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.about {
    display: inline-block;
    border: 5px solid rgb(255, 255, 255);
    margin: 5% 0 0 0;
    padding: 20px;
    height: auto;
    background-color: white;
    color: black;
    text-align: justify;
}

h1 {
    border-bottom: 2px solid grey;
}

img {
    float: left;
    width: 200px;
    height: 200px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: rgb(154, 74, 165);
    background-color: lightgray;
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;    
}

