body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

main {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

#about {
    display: inline-block;
    border: 5px solid rgb(255, 255, 255);
    margin: 5% 8% 0 0;
    padding: 20px;
    height: auto;
    width: auto;
    background-color: white;
    color: black;
    text-align: justify;
}

h1 {
    border-bottom: 2px solid grey;
}

#aboutmeimg {
    float: left;
    width: 200px;
    height: 200px;
}

#resume {
    margin: 20% 0 0 0;
    text-align: left;
    font-size: small;
}

#aboutmemail {
    color: blue;
}

#social {
    margin: 5% 0 0 0;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    color: rgb(154, 74, 165);
    background-color: lightgray;
    text-align: center;
    margin-top: 40px;
    padding: 20px 20px 10px 20px;    
}

#modalresumeimg {
    width: 450px; 
    height: 450px;
}

@media only screen and (max-width: 400px) {

    #modalresumeimg {
        width: 300px;
        height: 300px;
    }

    #aboutmeimg {
        width: 150px;
        height: 150px;
    }
	/* .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); } */
}		